.siteCheck > .checkbox {margin-top: 0;}


.ui-autocomplete-loading {
    background: white url('bootstrap/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.mb {
    margin-bottom: 10px;
}

.border-bottom{
    border-bottom: 1px solid #ccc;
}

.containermodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    opacity: 0.8;
    background: #000000 
        url('bootstrap/images/flyingdots.gif') 
        50% 50% 
        no-repeat;
}

.loadingpage {
    overflow: hidden;   
}

label.error{
    color : red;
}

input.error, select.error, input[type='checkbox'].error,input[type='radio'].error{
    /*  border: 1px solid red;*/
}

/** mega menu **/

.menu-large {
    position: static !important;
}
.megamenu{
    padding: 20px 0px;
    width: 100%;
}

@media(min-width:768px){
    .megamenu{      
        width: auto;
        left: auto;
        min-width: 350px;
    }   
}

.megamenu> li > ul, .megamenu> li > ul > li > ul{
    padding: 0;
    margin: 0;
}

.megamenu> li > ul > li, .megamenu> li > ul > li > ul > li{
    list-style: none;
}

.megamenu> li > ul > li > a, .megamenu> li > ul > li > ul > li> a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}

.megamenu> li ul > li > a:hover,  .megamenu> li > ul > li > ul > li> a:hover,
.megamenu> li ul > li > a:focus , .megamenu> li > ul > li > ul > li> a:focus{
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}

.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}

@media (max-width: 768px) {
    .megamenu{
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .megamenu> li {
        margin-bottom: 30px;
    }
    .megamenu> li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;

    }
    .navbar-nav .open .dropdown-menu .dropdown-header{
        color:#fff;
    }
}

.flexigrid #main-table-box{
    margin-bottom: 20px;
}

.gcOverlayLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(204, 204, 204, 0.51);
    z-index: 9000;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 15px;
    font-weight: bold;
    display: none;
}

.gcOverlayLoader .progress {
    margin-top: 20px;
    width: 20%;
}

@media(min-width:768px){
    .table-responsive {
        overflow-x: visible;
    }
}

@media(max-width:767px){
    .table-responsive {
        overflow-y: auto;
    }
}

.report-table{
    font-size: 11px
}

.table th {
    vertical-align: middle
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2D1F75;
    background-color: #CFCBD6;
    border: 1px solid #B79F9F;
    border-bottom-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

@media(min-width : 768px){
    .dropdown-header {        
        padding: 3px 15px;
    }

    .dropdown-menu>li>a {
        padding: 3px 15px;
        font-size: 12px;
    }

    .dropdown-menu .divider{
        margin: 3px 0;
    }
}

a.navbar-brand {
    padding : 5px 10px !important;
}

.navbar-edotco {
    background-color: #008f4c;
    /*border-color: #003d20;*/
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00914d), to(#008f4c));
    background-image: -webkit-linear-gradient(top, #00914d, 0%, #008f4c, 100%);
    background-image: -moz-linear-gradient(top, #00914d 0%, #008f4c 100%);
    background-image: linear-gradient(to bottom, #00914d 0%, #008f4c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00914d', endColorstr='#ff005e32', GradientType=0);
}
.navbar-edotco .navbar-brand {
    color: #ffffff;
}
.navbar-edotco .navbar-brand:hover,
.navbar-edotco .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-edotco .navbar-text {
    color: #ffffff;
}
.navbar-edotco .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-edotco .navbar-nav > li > a:hover,
.navbar-edotco .navbar-nav > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-edotco .navbar-nav > .active > a,
.navbar-edotco .navbar-nav > .active > a:hover,
.navbar-edotco .navbar-nav > .active > a:focus {
    color: #c0c0c0;
    background-color: #003d20;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#003d20), to(#00703b));
    background-image: -webkit-linear-gradient(top, #003d20, 0%, #00703b, 100%);
    background-image: -moz-linear-gradient(top, #003d20 0%, #00703b 100%);
    background-image: linear-gradient(to bottom, #003d20 0%, #00703b 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003d20', endColorstr='#ff00703b', GradientType=0);
}
.navbar-edotco .navbar-nav > .disabled > a,
.navbar-edotco .navbar-nav > .disabled > a:hover,
.navbar-edotco .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-edotco .navbar-toggle {
    border-color: #dddddd;
}
.navbar-edotco .navbar-toggle:hover,
.navbar-edotco .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-edotco .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-edotco .navbar-collapse,
.navbar-edotco .navbar-form {
    border-color: #003a1f;
}
.navbar-edotco .navbar-nav > .dropdown > a:hover .caret,
.navbar-edotco .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-edotco .navbar-nav > .open > a,
.navbar-edotco .navbar-nav > .open > a:hover,
.navbar-edotco .navbar-nav > .open > a:focus {
    background-color: #003d20;
    color: #c0c0c0;
}
.navbar-edotco .navbar-nav > .open > a .caret,
.navbar-edotco .navbar-nav > .open > a:hover .caret,
.navbar-edotco .navbar-nav > .open > a:focus .caret {
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-edotco .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767) {
    .navbar-edotco .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-edotco .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-edotco .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0c0c0;
        background-color: transparent;
    }
    .navbar-edotco .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-edotco .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-edotco .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c0c0c0;
        background-color: #003d20;
    }
    .navbar-edotco .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-edotco .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-edotco .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-edotco .navbar-link {
    color: #ffffff;
}
.navbar-edotco .navbar-link:hover {
    color: #c0c0c0;
}

.btn-primary { 
    color: #ffffff; 
    background-color: #0F9429; 
    border-color: #146919; 
} 

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
    color: #ffffff; 
    background-color: #247A35; 
    border-color: #146919; 
} 

.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
    background-image: none; 
} 

.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
    background-color: #0F9429; 
    border-color: #146919; 
} 

.btn-primary .badge { 
    color: #0F9429; 
    background-color: #ffffff; 
}

.bg-primary {
    background: rgba(43, 125, 52, 0.83);
}

.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #247A35; 
    border-color: #146919;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #247A35;
    border-color: #146919;
    cursor: default;
}

.form-display-as-box {
    text-transform: capitalize !important;
    font-weight: bold;
    font-size: 12px;
}

.yamm-content li.dropdown-header{
    border-bottom: 1px solid #e5e5e5;
    padding: 0px;
    margin-bottom: 5px;    
}
/*
* Document
*/
#c001, #dataTeree {
    padding-left: 15px;
}
#c001 ul, #dataTeree ul {
    list-style: none;
}
#c001 > ul, #dataTeree > ul {
    margin: 0;
    padding: 0;
}
.doc_layout {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.doc_scroll {
    max-height: 455px;
    overflow: hidden !important;
    margin-right: 10px;
}
/*
* Custom Scroller
*/
.scroll_right {
    max-height: 455px;
    overflow-y: scroll !important;
    margin-right: 10px;
}
.scroll_right::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scroll_right::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.scroll_right::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
        rgba(0, 0, 0, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, .2) 50%,
        rgba(0, 0, 0, .2) 75%,
        transparent 75%,
        transparent)
}
.doc_title {
    margin-bottom: 0;
    padding-bottom: 15px;
}
.doc_left {
    border-right: 2px solid #ccc;
    padding: 0;
    min-height: 530px;
    padding-bottom: 20px;
}
.doc_right {
    padding: 0;
    min-height: 530px;
}
.doc_right > .doc_header {
    padding-left: 9px;
}
.doc_right_panel {
    border: none;
    background: #fff;
    padding-top: 0;
    box-shadow: none;
    overflow: hidden;
}
.doc_header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.doc_header h4 {
    margin: 0;
    padding: 10px;
}
/*
**Custom Icons Color
*/
.fa-file-pdf-o {
    color: #F21012;
}
.fa-file-word-o {
    color: #2196F3;
}
.fa-picture-o {
    color: black;
}
.fa-file-excel-o {
    color: #08743B;
}
.fa-file-text {
    color: #13B09F;
}
.fa-file-archive-o {
    color: black;
}
.fa-file-powerpoint-o {
    color: #E64A19;
}
/*
** File Table
**/
.file_table {
    margin-top: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.file_table .file_icon {
    vertical-align: middle;
    width: 45px;
}
.file_icon > .fa {
    font-size: 30px;
}
.file_info h4 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}
.file_info small {
    color: #999;
}
.file_table .file_btn {
    vertical-align: middle;
}
/*
** Doc Search
*/
.search_body {
    padding: 0 10px;
}
.search_paging {
    padding: 0 10px 0 0 !important;
    margin: 0 !important;
}
.search_table {
    font-size: 12px;
}

/*
** Doc View
*/
.doc-list {
    margin: 0 10px
}
.doc_info {
    margin: 0 10px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    background-color: #eeeeff;
}
.doc-list .list-group-item {
    padding: 5px 5px 0 5px !important;
}
.doc_info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.doc_info ul li {
    font-weight: bold;
    color: #555;
    font-size: 13px;
    line-height: 25px;
}
.doc-list li a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}
.doc-list li a i {
    font-size: 17px;
    color: #8466ff;
}
.doc_panel h3 {
    background-color: #ddd;
    margin: 0;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #777;
}
.doc_list p {
    font-size: 12px;
    color: #69c4ff;
    padding-left: 20px;
}
.doc_panel li {
    color: #0A246A;
}
.doc_panel li i {
    margin-right: 5px;
}
#docView {
    height: 475px;
    overflow: hidden;
}
#docView p {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    color: #1b6d85;
}
#docView iframe {
    width: 100%;
    border: none;
    height: 475px;
    margin: 0;
}
#docView img {
    width: 100%;
}
.doc-list li:hover {
    background-color: #f4f4f4;
}
.bold {
    font-weight: bold;
}

.view-only {
    white-space: nowrap;
}

.view-only span {
    margin: 0px 0px 3px 0px;
    display: block;
}
/*
.view-only label {
    text-align: right;
}*/