<!-- Google Docs Modal -->
<div class="modal fade googleDocsModals" id='googleDocsModals' tabindex="-1" role="dialog" aria-labelledby="googleDocsModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">                        
        <h4 class="modal-title">
            {{fileInfo.header}}
            <button type="button" class="btn btn-default pull-right btn-primary" data-dismiss="modal">Close</button>                        
        </h4>
      </div>
      <div class="modal-body"  id='googleDocHtml'>                        
      </div>
    </div>
  </div>
</div>