<div class="row">
    <h3 class="title-underlined bg-info">Own Account Transfer</h3>
    <div class="col-sm-3 col-xs-6">
        <label>Min Transaction Limit</label> {{appsGroupInfo.oatMinTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>Max Transaction Limit</label> {{appsGroupInfo.oatMaxTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>Day Transaction Limit</label> {{appsGroupInfo.oatDayTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>No. of Transaction Limit</label> {{appsGroupInfo.oatNoOfTxn}}
    </div>    
</div>

<div class="row">
    <h3 class="title-underlined bg-info">EBL Account Transfer</h3>
    <div class="col-sm-3 col-xs-6">
        <label>Min Transaction Limit</label> {{appsGroupInfo.eatMinTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>Max Transaction Limit</label> {{appsGroupInfo.eatMaxTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>Day Transaction Limit</label> {{appsGroupInfo.eatDayTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>No. of Transaction Limit</label> {{appsGroupInfo.eatNoOfTxn}}
    </div>    
</div>

<div class="row">
    <h3 class="title-underlined bg-info">Other Bank Transfer</h3>
    <div class="col-sm-3 col-xs-6">
        <label>Min Transaction Limit</label> {{appsGroupInfo.obtMinTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>Max Transaction Limit</label> {{appsGroupInfo.obtMaxTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>Day Transaction Limit</label> {{appsGroupInfo.obtDayTxnLim}}
    </div>
    <div class="col-sm-3 col-xs-6">
        <label>No. of Transaction Limit</label> {{appsGroupInfo.obtNoOfTxn}}
    </div>    
</div>

<style>
    h3.title-underlined.bg-info{
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    
</style>